.enter{
    width:600px;
    height: 600px;
    background: url(../../images/index/kaichang_bg.png) no-repeat;
    background-size: 100% 100%;
    z-index: 999;
    margin:auto;
    position: absolute;
    top:0;
    left: 0;
    right: 0;
    bottom: 0;
}
.logo{
    margin-top:140px;
    text-align: center;
    color:#01ffff;
    letter-spacing: 2px;
}
.logo h2{
    font-size: 26px;
    font-weight: 400;
    margin:0;
    margin:10px 0 0 0;
}
.logo h1{
    font-size:40px;
    margin:10px 0;
}
.logo span{
    margin-top:120px;
    display:inline-block;
}
.logo a{
    margin-top:90px;
    color:#01ffff;
}