*{
    margin:0;
    padding:0;
    font-family: "宋体";
}
ul,li{
    list-style: none;
}
html,body{
    width: 100%;
    height: 100%;
    overflow: hidden;
}
input{
    border:none;
    background: #fff;
    outline: none;
}
body{
    background:url(../../images/login/login_bg.png) no-repeat;
    background-size: 100% 100%;    
    min-width: 800px;
}
/* 头部 */
  .header{
      height: 70px !important;
      line-height: 70px;
      color:#fffffd;
      padding:0 20px;
  }
  .headerL{
    background: url(../../images/logo.png) no-repeat 0 14px;
    padding-left:70px;
    text-align: left;
    font-size: 28px;
  }
  
  .main{
      height:500px;
      padding:0;
      width:100%;
      margin:0;
      overflow-x: hidden;
      position: relative;
      
  }
  
  .headerDiv{
      height: 70px;
  }
/* 内容 */
  
#app{
    width: 100%;
    height: 100%;
   
}
.main{
    height:calc(100%-70px);
    width: 100%;
    background: none;
    margin:0;
}
.enterLoad{
    width:780px;
    height: 280px;
    background: url(../../images/login/login_div.png) no-repeat;
    margin:auto;
    position: absolute;
    top:-12%;
    bottom: 0;
    left: 0;
    right: 0;
    color:#fff;
    padding:40px 20px;
}
.enterLoad h4{
    font-size: 28px;
}
.enterLoad h1{
    padding-top:10px;
    font-size: 45px;
}
.info{
    width:714px;
    height: 100px;
    background: url(../../images/login/info_bg.png) no-repeat;
    margin:20px auto 0;
}
.light{
    width:714px;
    height: 100px;
    margin:20px 0 0 14px;
    padding:25px 0 0 0;
    position: relative;
    background: url(../../images/login/info_bg2.png) no-repeat 0 2px;
}
.user{
    
}
.bgColor{
    width: 680px;
    height: 52px;
    background: url(../../images/login/bg_blue.png) no-repeat;
    margin:0 auto;
    position: relative;
    padding:12px;
}
.inputDiv{
    width:47%;
    float: left;
}
.inputBg{
    display:block;
    height: 30px;
    float: left;
    border:1px solid #000;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
    
}
.inputUser{
    width:30px;
    background:url(../../images/login/user.png) no-repeat;
}
.inputPwd{
    background:url(../../images/login/password_icon.png) no-repeat;
    background-size: 100% 100%;
    width:30px;
}
.user{
    width:250px;
}
.pwd{
    width:230px;
}
.loginInput{
    /* background:url(../../images/login/user.png) no-repeat; */
    line-height: 30px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    border:1px solid #000;
    border-left:none;
    padding-left:20px;
    height: 30px;
}
.enterBtn{
    width:52px;
    height: 30px;
    margin-left:-30px;
    background:url(../../images/login/enter.png) no-repeat;
    border:1px solid #000;
    border-radius: 3px;
    outline: none;
    cursor: pointer;
}
