/* 社会关系 */

.shgxRight{
    background: url(../../images/dianzibingli/shehui_bg.png) no-repeat;
    background-size: 100% 100%;
}
.shehuidiv1{
    height: 50%;
}
.weizhi{
    width:400px;
    height: 400px;
    background:url(../../images/dianzibingli/weizhi_bg.png) no-repeat;
    margin-top:20px;
    margin-left:30px;
    float: left;
}
.weizhi h4{
    text-align:right;
    padding-top:30px;
    padding-right:30px;
    color:#00d7fe;
}
.ryInfo{
    width:700px;
    height: 300px;
    float: left;
    background: url(../../images/shehuiguanxi/bg.png) no-repeat;
    margin-left:30px;
    margin-top:20px;
    position: relative;

}
.ryInfo .userBL1{
    width:200px;
    height: 200px;
}
.ryInfo .userBL1 img{
    /* border-radius: 50%;
    width:150px;
    height: 150px; */
}
.ryInfo .userBL1 p{
    padding-left:100px;
}
.ryInfo .title{
    position: absolute;
    top:50px;
    right: 120px;
}
.shehuiDiv2{
    width:90%;
    height: 100%;
}
.shehuiDiv2 .guanxi{
    width:85%;
    height: 80%;
    margin-top:60px;
    margin-left:30px;
    float: left;
  
}
.shehuiDiv2 .guanxi img{
    width:100%;
    height: 100%;
}
.shehuiDiv2 .guanxi1{
    width:100%;
    height: 200px;
    margin-top:160px;
    margin-left:30px;
    float:left;
    background:url(../../images/shehuiguanxi/weizhi.png) no-repeat;
    background-size: 100% 100%;
}
.shehuiDiv2 .guanxi1 img{
    /* width:100%;
    height: 100%; */
}
.guanxi1 h4{
    text-align: left;
    line-height: 30px;
    padding-left:10px;
    margin-top:4px;
    margin-left:4px;
    height: 30px;
    background:url(../../images/quanxi/title_bg.png) no-repeat;
}
.guanxi1 div{
    /* height: 100%; */
    float: left;
}
.guanxi1 .guanxi1_d{
    width:60%;
}
.guanxi1 .guanxi2_d{
    width:30%;
}
.guanxi1 .weizhi1{
    display: inline-block;
    width:23px;
    height: 28px;
    line-height: 28px;
    
}
.guanxi1 .dingwei{
    padding-left:50px;
    color:#fff;
    text-align: left;
    padding-top:20px;
    padding-bottom:10px;
}
.guanxi1 .p1{
    height: 28px;
    line-height: 28px;
    color:#fff;
    text-align: left;
    padding-left:70px;
    font-size: 14px;
    line-height: 30px;
    height: 30px;
    
}
.guanxi_middle{
    width:20px;
    float: left;
    height: 190px;
    background:url(../../images/shehuiguanxi/middle.png) no-repeat;
    overflow: hidden;
    margin-top:8px;
    margin-left:10px;
}
.shehuiDiv2 img{
    /* width: 100%;
    height: 100%; */
}
.pic1{
    width:60px;
    height:60px;
    margin-top:40px;
    text-align: left;
    display: block;
}
.pic2{
    width:100px;
    height:70px;
    margin-top:10px;
    text-align: left;
    display: block;
}
.rightDiv{
    height: 100%;
}
.right1{
    height: 21%;
    width:96%;
    margin-top:30px;
    background:url(../../images/shehuiguanxi/renyuan_bg.png) no-repeat;
    background-size: 100% 100%;
}
.imgContainer{
    height: 76%;
}
.right1_title{
    margin-top:20px;
    width:100%;
}
.right1_title p{
    text-align: left;
    color:#00071e;
    height: 30px;
    font-size: 15px;
    margin-top:12px;
    padding-left:10px;
}

.right1 .rightImg1{
    width: 21%;
    float: left;
    height: 72%;
    padding-top:5%;
    padding-left:3%;
    margin:0 auto;
}
.right1 .rightImg1 span{
    width:108px;
    height: 108px;
    display: inline-block;
    background:url(../../images/shehuiguanxi/tou_bg.png) no-repeat;
    background-size: 100% 100%;
}
.right1 .rightImg1 span img{
    width:95%;
    height: 95%;
    margin-top:2px;
}
.shiyou img,.zhuangtai img,.zhuapai img{
    width:100%;
    height: 100%;
}
.zhuangtai{
    height: 34%;
    margin-top:5%;
    background:url(../../images/shehuiguanxi/fangjian_bg.png) no-repeat;
    padding-left:8%;
}
.zhuangtai h4{
    text-align: right;
    padding-right: 180px;
    padding-top:4px;
}
.zhuangtai .rightImg2{
    width:21%;
    float: left;
    height: 70%;
    margin-top:6%;
    
}
.rightImg2 .p1{
    color:#fff;
    font-size: 16px;
    padding-top:10px;
    font-size: 14px;
}
.rightImg2 .p2{
    color:#fcaf00;
    font-size: 14px;
}
.rightImg2 .p2-1{
    color:#ff0103;
    font-size: 14px;
}
.zhuangtai .rightImg2 span{
    
    display: inline-block;
    width:108px;
    height: 108px;
    background:url(../../images/shehuiguanxi/tou_bg.png) no-repeat;
    background-size: 100% 100%;
}
.zhuangtai .rightImg2 span img{
    width:98%;
    height: 98%;
    padding-top:2px;
}
.zhuapai{
    height: 34%;
    margin-top:3%;
    width: 95%;
    background:url(../../images/shehuiguanxi/zhupai.png) no-repeat;
    background-size: 100% 100%;
}
.zhuapai h4{
    text-align: left;
    padding-top:1%;
    padding-left:22%;
}
.zhuapai .rightImg3{
    width:50%;
    float: left;
    height: 100%;
    padding-top:8%;
    margin:0 auto;
    
}
.zhuapai .rightImg3 img{
    width:84%;
    height: 50%;
    
}
.rightImg3 p{
    color:#fff;
}
.el-main {
    background-color: #E9EEF3;
    color: #333;
    text-align: center;
   
  }
  .main{
      height:500px;
      padding:0;
      width:100%;
      margin:0;
      overflow: hidden;
      position: relative;
      
  }
  .userBL{
    height:30%;
    width:95%;
    background:url(../images/dianzibingli/bingli_bg1.png) no-repeat;
    background-size: 100% 100%;
    margin-top:30px;
}
.userBL1{
    width:147px;
    float: left;
    height: 100%;
    padding-left:10px;
}
.userBL1 img{
    height: 150px;
    margin-top:30px;
    margin-left:10px;
}
.userBL2{
    padding-top:30px;
    padding-left: 30px;
}
.userBL2 p{
    padding-left:20px;
    width:auto;
    text-align: left;
    font-size:14px;
    color:#fff;
    line-height: 28px;
}
.userBL2 .title{
    color:#fff;
    font-size: 16px;
    position: absolute;
    top:71px;
    right:228px;
    width:100px;
    height: 40px;
    padding-top:10px;
    background:url(../../images/shehuiguanxi/title.png) no-repeat;
}
.ryInfo .userBL1{
    width:200px;
    height: 200px;
}
.ryInfo .userBL1 img{
    border-radius: 50%;
    width:150px;
    height: 150px;
}
.ryInfo .userBL1 p{
    padding-left:100px;
}
.ryInfo .title{
    position: absolute;
    top:50px;
    right: 220px;
}
.center{
    position: absolute;
    width: 300px;
    height: 250px;
    margin: auto;
    top:-10px;
    left: 0;
    right: 0;
    bottom:0;
    z-index: 999;
    
}
.center img{
    width: 100%;
    height: 100%;
}
.backIndex{
    display: inline-block;
    /* margin-top:2px; */
    /* padding:2px; */
}
.backIndex a{
    text-decoration: none;
    -moz-box-shadow:0 0 10px #06c;
    -webkit-box-shadow:0 0 10px #06c;
    box-shadow:0 0 10px #06c;
    padding:0 10px;
    line-height:28px;
    height: 28px;
    display: inline-block;
    color:#9e9fa1;
    font-size: 14px;
}
.backIndex a:hover{
    color:#9e9fa1;
}
.pageLocationLeft .demo-input-size{

    margin-right:8px;
}
.userBL{
    min-width:430px;
    overflow: hidden;
}